NEXT_PUBLIC_SUPABASE_URL=
NEXT_PUBLIC_SUPABASE_PUBLISHABLE_KEY=
SUPABASE_SERVICE_ROLE_KEY=
ALLOWED_ADMIN_EMAILS=admin@email.com
SITE_URL=https://ditz-store.vercel.app
WHATSAPP_NUMBER=6287739435496
TELEGRAM_USERNAME=raditsunandar
SUPPORT_EMAIL=sunandarradit3@gmail.com
SITE_NAME=DiTz Store
